CompileFlags:
  Add:
    - "-I../include/"
    - "-I../deps/glad/"
    - "-I../deps/freetype2/"
    - "-I../deps/openal-soft/include/AL"
    - "-I../deps/win32/"
    - "-I../deps/linux/"
    - "-L../lib/"
    - "-lSDL2"
    - "-lGLEW"
    - "-lGL"
    - "-Wno-misc-definitions-in-headers"
    - "-Wno-write-strings"
  Compiler: "g++"
