# This is nasty, but it is just to make the LSP happy
CompileFlags:
  Add:
    # Include Paths
    - "-I../../../deps/glad/"
    - "-I../../../deps/"
    - "-I../../deps/"
    - "-I../../deps/glad/"
    - "-I../../engine/include/"
    - "-I../../game/include/"
    - "-I../../deps/freetype2/"
    - "-I../engine/include/"
    - "-I../game/include/"
    - "-I../deps/"
    - "-I../deps/glad/"
    - "-I../deps/freetype2/"
    - "-I../deps/win32/"
    - "-I../deps/linux/"
    - "-I./include"

    # Library Paths
    - "-L../lib/"

    # Libraries
    - "-lSDL2"
    - "-lGLEW"
    - "-lGL"

    # Compiler Flags
    - "-Wno-misc-definitions-in-headers"
    - "-Wno-write-strings"
  Compiler: "g++"
