CompileFlags:
  Add:
    - "-I../deps/"
    - "-I../src/headers"
    - "-L../lib/"
    - "-lSDL2"
    - "-lGLEW"
    - "-lGL"
    - "-Wno-misc-definitions-in-headers"
    - "-Wno-write-strings"
  Compiler: "g++"
